<h4>User ID</h4>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a libero et ante feugiat feugiat. 
Nam vitae lacus eget massa adipiscing euismod. In blandit risus non tellus dictum ultricies. 
Morbi tempor magna mauris, nec molestie turpis pulvinar in. Class aptent taciti sociosqu ad litora 
torquent per conubia nostra, per inceptos himenaeos.

<h4>Blue Source access</h4>
Ut dictum neque non ullamcorper consectetur. Aliquam lectus ligula, cursus dapibus aliquet in, pretium id 
odio. Maecenas bibendum sodales risus sed pharetra. Donec venenatis erat molestie ligula tincidunt sagittis. 
Vivamus condimentum augue ac ligula faucibus vehicula. Nulla facilisi. Integer ullamcorper velit sed 
hendrerit placerat.

<div class="modal-footer">
	<%= button_tag "Close", type: "button", class: "btn btn-default", data: {dismiss: "modal"} if @in_modal %>
</div>