<h4>Accessing BlueSource</h4>
Access to BlueSource is determined by two things:
<ul>
  <li>A user’s ‘Username’ and ‘Password’ are setup on Orasi’s LDAP</li>
  <li>A user has been added to BlueSource by management or an admin</li>
</ul>
<p>
  The first condition is met by all Orasi employees during their on-boarding process. If you have access to an 
  Orasi email account, then those credentials are the same for your BlueSource account.
</p>

<p>
  The second condition is typically met when your department has been added to the BlueSource application. If 
  you have not received notice that your department is on BlueSource, it is unlikely that your account has been 
  added. Please see the section below on how to get your account added to BlueSource.
</p>

<h4>Where To Go From Here</h4>
<p>
  If you need to have your name added to BlueSource or you feel like you have met both conditions and still 
  cannot access the site, please click on the ‘Contact’ tab above to send a help request to our support team. 
  Make sure to give your name, email, and a description of the problem and/or the error message received.
</p>

<p>
  Someone from the team will be in contact with you as soon as possible after you submit your request with steps 
  to resolve your issue.
</p>

<div class="modal-footer">
	<%= button_tag "Close", type: "button", class: "btn btn-default", data: {dismiss: "modal"} if @in_modal %>
</div>