<p>Hi,</p>
<p><%= @current_user.display_name %> has requested the following time off:</p>
<p><%= @vacation_params[:vacation_type] + " - from #{@vacation_params[:start_date]} until #{@vacation_params[:end_date]}."%></p>
<p>At your earliest convenience, please log into <a href="https://bluesource.orasi.com/">BlueSource</a> and acknowledge this request.</p>

<p>Thank you,</p>
BlueSource

Please disregard this email.  If you are receiving this email incorrectly, please send all angry emails to lewis.gordon@orasi.com.