/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-theme
 *= require scaffolds
 *= require_self
 */
$orasi_blue: #357bb9;
.bs-docs-nav .navbar-toggle .icon-bar
{
  background-color: $orasi_blue;
}
.notification-list-group
{
  width: 25%;
  a
  {
    color: $orasi_blue;
  }
}
.badge-sm
{
  padding: 1px 7px;
  background-color: $orasi_blue;
}
.table
{
  td.logo-row
  {
    padding-top:6px;
    padding-bottom:0px;
  }
}
#add_team_lead{
  margin-bottom:5px;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('<%= asset_path "glyphicons-halflings-regular.eot" %>');
  src: url('<%= asset_path "glyphicons-halflings-regular.eot" %>?#iefix') format('embedded-opentype'), url('<%= asset_path "glyphicons-halflings-regular.woff" %>') format('woff'), url('<%= asset_path "glyphicons-halflings-regular.ttf" %>') format('truetype'), url('<%= asset_path "glyphicons-halflings-regular.svg" %>#glyphicons_halflingsregular') format('svg');
}
.navbar
{
  border-bottom-color: #357bb9;
  border-radius: 0px;
}
.radio-btn-section
{
  padding-top: 10px;
  padding-bottom: 10px;
}
.radio-btn-label
{
  display: inline;
}
.nav
{
  .glyphicon
  {
    font-size:18px;
  }
  
  a.help-icon:hover, a.help-icon:focus
  {
    background-color:rgba(0, 0, 0, 0);
    color: rgb(102, 102, 102);
  }
}
.navbar-header
{
  display:inline;
  a:hover, a:focus
  {
    background-color:rgba(0, 0, 0, 0);
  }
  .brand
  {
    display: inline;
    width: 100px;
  }
  .img-brand
  {
    padding:10px;
  }
}

.container > .navbar-header
{
  margin: 0px;
}
.panel-group
{
  margin-bottom: 20px;
  td:nth-child(2)
  {
    text-align: left !important;
    width: 25%;
  }
}

textarea
{
  resize: none;  
}
.container.login-form
{
  width: 300px;
  float: left;
}
a
{
  color:$orasi_blue;
}
.glyphicon.glyphicon-plus,.glyphicon.glyphicon-remove,.approval-btn
{
  cursor:pointer;
}
.glyphicon.glyphicon-plus
{
  color:green;
}
.glyphicon.glyphicon-remove
{
  color:red;
}
.team-lead-section
{
  .additional-lead-field{
    width: 95%;
    display: inline;
  }
  .glyphicon.glyphicon-remove{
    width: 2%;
    padding: 2px;
  }
}

