/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require bootstrap-theme
 *= require scaffolds
 */
.radio-btn-section
{
  padding-top: 10px;
  padding-bottom: 10px;
}
.radio-btn-label
{
  display: inline;
}
nav
{
  .glyphicon
  {
    font-size:18px;
  }
  
  .brand
  {
    padding: 5px;
    width: 125px;
    
  }
  .brand-link:hover
  {
    background-color:rgba(255,0,0,0);
  }
}
.navbar-header
{
  display:inline;
  .brand
  {
    display: inline;
  }
}
.panel-group
{
  margin-bottom: 20px;
  td:nth-child(2)
  {
    text-align: left !important;
    width: 25%;
  }
}
textarea
{
  resize: none;  
}
