// Place all the styles related to the Absent controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a.disabled
{
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
  border-color: #dddddd;
  text-decoration: none;
}
a.month-changer:hover
{
  text-decoration: none;
}
.list-group-item
{
  padding: 2px 0px;
  text-align: center;
  color: #fff;

}
.today{
  font-weight: bold;
}
#vacation-calendar
{
  th{
    border-width: 0px;
  }
}
.list-group-item.floating-holiday
{
  background-color: #f0ad4e;
}
.list-group-item.vacation
{
  background-color: #428bca;
}
.list-group-item.sick
{
  background-color: #5cb85c;
}
.list-group-item.other
{
  background-color: #999;
}
div#calendar-date-select
{
  margin-bottom: 10px;
  select{
    width:auto;
  }
  *
  {
    display:inline;
  }
}
.calendar-header
{
  display:block;
  margin-top: 10px;
  
}
