// Place all the styles related to the Absent controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$vacation-color: #428bca;
$sick-color: #5cb85c;
$floating-holiday-color: #f0ad4e;

td.calendar-day-cell
{
  border: 1px solid #000000 !important;
  width: 248px;
  height: 100px;
}
.calendar-pending-vacation.list-group-item.floating-holiday
{
  color: $floating-holiday-color;
  background-color: #FFFFFF;
}
.calendar-pending-vacation.list-group-item.vacation
{
  color: $vacation-color;
  background-color: #FFFFFF;
}
.calendar-pending-vacation.list-group-item.sick
{
  color: $sick-color;
  background-color: #FFFFFF;
}
a.disabled
{
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
  border-color: #dddddd;
  text-decoration: none;
}
a.month-changer:hover
{
  text-decoration: none;
}
.list-group-item
{
  padding: 2px 0px;
  text-align: center;
  color: #fff;

}
.today{
  font-weight: bold;
}
#vacation-calendar
{
  th{
    border-width: 0px;
  }
}
.list-group-item.floating-holiday
{
  background-color: $floating-holiday-color;
}
.list-group-item.vacation
{
  background-color: $vacation-color;
}
.list-group-item.sick
{
  background-color: $sick-color;
}
.list-group-item.other
{
  background-color: #999;
}
div#calendar-date-select
{
  margin-bottom: 10px;
  select{
    width:auto;
  }
  *
  {
    display:inline;
  }
}
.calendar-header
{
  display:block;
  margin-top: 10px;

}
