// Place all the styles related to the Absent controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$vacation-color: #428bca;
$sick-color: #5cb85c;
$floating-holiday-color: #f0ad4e;

td.calendar-day-cell
{
  border: 1px solid #000000 !important;
  width: 248px;
  height: 100px;
}

.company-holiday {
  $opacity: .15;
  $orasi_blue: rgba(53, 123, 185, $opacity);
  height: 25px;
  background-image: linear-gradient(135deg, $orasi_blue 25%, transparent 25%, transparent 50%, $orasi_blue 50%, $orasi_blue 75%, transparent 75%, transparent); /* Standard syntax (must be last) */
  background-size: 40px 40px;
}

.calendar-pending-vacation.list-group-item
{
  &.floating-holiday{
    color: $floating-holiday-color;
    background-color: #FFFFFF;
  }
  &.vacation
  {
    color: $vacation-color;
    background-color: #FFFFFF;
  }
  &.sick
  {
    color: $sick-color;
    background-color: #FFFFFF;
  }
}
a.disabled
{
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
  border-color: #dddddd;
  text-decoration: none;
}
a.month-changer:hover
{
  text-decoration: none;
}
.list-group-item
{
  padding: 2px 0px;
  text-align: center;
  color: #fff;

}
.today{
  font-weight: bold;
}
#vacation-calendar
{
  th{
    border-width: 0px;
  }
}
.list-group-item
{
  &.floating-holiday{
    background-color: $floating-holiday-color;
  }
  &.vacation
  {
    background-color: $vacation-color;
  }
  &.sick
  {
    background-color: $sick-color;
  }
  &.other
  {
    background-color: #999;
  }
}
div#calendar-date-select
{
  margin-bottom: 10px;
  select{
    width:auto;
  }
  *
  {
    display:inline;
  }
}
.calendar-header
{
  display:block;
  margin-top: 10px;
}
#download-link-header{
  padding: 10px;
}
