// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.alert-inline
{
  display:inline-block;
  div{
    display:inline-block;
  }
  
}
.vacation-header
{
  display:inline-block;
  padding:15px 0px;
  h3{
    padding:10px;
    display:inline;
  }
}
#project-hours{
  display: inline;
  input[type=time]{
    width: 25%;
    display: inline;
  }
}
td#save-new-project
{
  text-align: center;
}

