// Place all the styles related to the ProjectHistories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.edit-field,.update-btn
{
  display: none;
}
.btn.btn-xs
{
  width: 100%;
}
select.form-control
{
  height: 22px;
  line-height: 22px;
  padding: 2px 10px;
  font-size: 12px;
}
