// Place all the styles related to the Vacation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.vacation-summary-table
{
  padding-bottom:10px;
  padding-top:10px;
  padding-right:10px;
  span
  {
    padding-bottom:10px;
    padding-top:10px;
    padding-right:10px;
  }
}
textarea
{
  margin-bottom: 20px;
}
