- if predicate
  - if forward
    - if defined?(numeric) && numeric
      %span.glyphicon.glyphicon-sort-by-order.pull-right.orasi-blue
    - else
      %span.glyphicon.glyphicon-sort-by-alphabet.pull-right.orasi-blue
  - else
    - if defined?(numeric) && numeric
      %span.glyphicon.glyphicon-sort-by-order-alt.pull-right.orasi-blue
    - else
      %span.glyphicon.glyphicon-sort-by-alphabet-alt.pull-right.orasi-blue
