<div class="modal fade in" id="vacation_reporting_modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h4 class="modal-title" id="modal_label_2"><span>Vacation Reporting</span></h4>
			</div>
			<div class="modal-body">
        <%= render "calendar/report_form" %>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
