<% all_vacations = Vacation.where(manager: current_user, status: "Pending") %>
<% unless all_vacations.blank? %>
<div class="alert alert-info alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
		&times;
	</button>
	<h5>The following employees have pending time off requests:</h5>
	<div class="list-group notification-list-group">
	<% all_vacations.each do |vacation| %>
		<% employee = Employee.find(vacation.employee_id) %>
		<% vacation_count = Vacation.find_by(employee: employee).where(status: "Pending").count %>
		<%= link_to employee_vacations_path(employee, "fy" => vacation.start_date.current_fiscal_year), class: "list-group-item list-group-item-success" do %>
		  <strong><%= employee.display_name %></strong><span class="badge badge-sm"><%= vacation_count %></span>
		<% end %>
	<% end %>	
	</div>
</div>
<% end %>
