<tr>
	<td><%= select_tag 'report[query_data][][column_name]', options_for_select(Employee.column_names + ["Projects"] - ["project_id"], selected_column), class: "form-control column-name-dropdown" %></td>
	<td><%= select_tag 'report[query_data][][operator]', options_for_select(["ALL","EQUALS","LESS_THAN","LESS_THAN_OR_EQUAL","GREATER_THAN","GREATER_THAN_OR_EQUAL"], selected_operator), class: "form-control operator-dropdown" %></td>
	<td>
		<%= select_tag 'report[query_data][][text]', options_from_collection_for_select(Project.all, "id", "name"), class: "form-control data-input-field hidden", disabled: true %>
		<%= text_field_tag 'report[query_data][][text]', text.blank? ? nil : text, class: "form-control data-input-field", disabled: true %>
	</td>
	<td>
		<span class="glyphicon glyphicon-remove pull-right"></span>
	</td>
</tr>