<h1>Reports</h1>
<%= render "notification_section" %>
<div class="table-responsive">
	<table class="table">
		<tr>
			<th>Report Name</th>
		</tr>
		<tr>
			<td>Test</td>
		</tr>
	</table>
</div>
<%= link_to "Create new report", new_report_path, class: "btn btn-primary" %>
